{% extends 'base.html' %}

{% block title %}Список детей{% endblock %}

{% block content %}
    <h1>Список детей</h1>
    <div class="search-container">
        <form method="get" action="{% url 'child_list' %}">
            <input type="text" name="q" placeholder="Поиск по ФИО" value="{{ request.GET.q }}">
            <button type="submit">Поиск</button>
        </form>
    </div>
    <div class="table-container">
        <table id="child-table">
            <thead>
                <tr>
                    <th>ФИО ребенка</th>
                </tr>
            </thead>
            <tbody>
                {% for child in children %}
                    <tr data-id="{{ child.id }}">
                        <td>{{ child.last_name }} {{ child.first_name }} {{ child.middle_name }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="button-container">
        <div class="button-group">
            <a href="{% url 'create_child' %}" class="create-button">Создать ребенка</a>
            <button class="edit-button" onclick="editSelectedChild()">Редактировать ребенка</button>

        </div>
        <a href="{% url 'admin_home' %}" class="back-button button-right">Назад</a>
    </div>

    <script>
        let selectedRow = null;

        document.querySelectorAll('#child-table tbody tr').forEach(row => {
            row.addEventListener('click', () => {
                if (selectedRow) {
                    selectedRow.classList.remove('selected');
                }
                selectedRow = row;
                row.classList.add('selected');
            });
        });

        function editSelectedChild() {
            if (selectedRow) {
                const childId = selectedRow.getAttribute('data-id');
                window.location.href = `{% url 'edit_child' 0 %}`.replace('/0', `/${childId}`);
            } else {
                alert('Пожалуйста, выберите строку для редактирования ребенка.');
            }
        }
    </script>
{% endblock %}
